body {
    font-family: Arial;
    background-color: #161515;
}

h1 {
    color: white;
    background-color: #107c41;
}

p {
    background-color: #107c41;
    font-size: 270%;
}

table {
    font-size: 130%;
    border-spacing: 0px;
    background-color: white;
}

caption {
    color: #107c41;
}